name: New Workflow

on: push

jobs:
  first_job:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository\
        uses: actions/checkout@v4
        
      - name: Install Cowsay
        run: sudo apt-get install -y cowsay

      - name: Execute Cowsay Command
        run: cowsay -f dragon "Hello dragon !" >>  dragon_message.txt

      - name: Test File exists
        run: grep -i "dragon"  dragon_message.txt

      - name: Read File
        run: cat dragon_message.txt